[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pymongo = "*"
python-multipart = "*"
gradio-client = "*"
python-dotenv = "*"
spacy = "==3.7"
pytz = "*"
numpy = "==1.26.4"
huggingface-hub = "*"

[dev-packages]

[requires]
python_version = "3.12"
