[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pymongo = "*"
ultralytics = "==8.0.58"
numpy = "==1.26.4"
pillow = "*"
python-multipart = "*"
gradio-client = "*"
python-dotenv = "*"
spacy = "==3.7"

[dev-packages]

[requires]
python_version = "3.12"
