fastapi
uvicorn
pymongo
numpy==1.26.4
python-multipart
gradio-client
python-dotenv
spacy==3.7.5
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
pytz